<div class="section main-form">
  <form
    action=""
    class="form-container"
    #myForm="ngForm"
    (ngSubmit)="onSubmit(myForm)"
  >
    <div class="row g-3 align-items-center p-3">
      <div class="col-md-6 col-lg-3">
        <label for="name"
          >Name
          <input
            class="input input-user"
            type="text"
            name="name"
            [(ngModel)]="user"
            required
          />
        </label>
      </div>
      <div class="col-md-6 col-lg-3">
        <label for="name"
          >Email
          <input
            class="input input-email"
            type="email"
            name="email"
            [(ngModel)]="email"
            required
          />
        </label>
      </div>
      <div class="col-md-6 col-lg-3">
        <label for="country"
          >Country
          <select
            class="select select-country"
            name="select"
            [(ngModel)]="selectedCountry"
            (ngModelChange)="onCountryChange($event)"
          >
            <optgroup>
              <option *ngFor="let country of countries" [value]="country.value">
                {{ country.name }}
              </option>
            </optgroup>
          </select>
        </label>
      </div>
      <div class="col-md-6 col-lg-3">
        <label for="city"
          >City
          <select class="select select-city" name="city" [(ngModel)]="city">
            <optgroup>
              <option
                *ngFor="let city of getCitiesByCountry(selectedCountry)"
                [value]="city"
              >
                {{ city }}
              </option>
            </optgroup>
          </select>
        </label>
      </div>
      <div class="col-sm-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
      <!-- <div class="row g-3">
        <div class="col-sm-12 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div> -->
    </div>
  </form>
</div>
